*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gradle/
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/taskHistory.lock
.gradle/4.1/fileHashes/fileHashes.lock
